<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Vendor CSS Files -->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="public/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

    <link rel='stylesheet' href='public/stylesheets/login.css' />
    <link rel="icon" href="public/assets/ICON_E_RA_png.png">


    </head>
<body class="my-auto mx-auto my-auto" style="height: 100vh; width: 100vh">



    <div class="login-box">

        <img class="w-100 h-75" src="public/assets/ICON_E_RA_png.png" alt="Icon E-RA">

        <form id="form" method="post" action="/maps">
            <div class="user-box">
                <input type="text" name="username" required="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <a onclick="submit()" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>

        <script>
            function submit(){
                document.getElementById("form").submit();
            }
        </script>
    </div>



</body>
</html>